<div>
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <p>Written By: {{user.name}}</p>
</div>
{{#if comments.length}}
{{#each}}
<div>
    <p>{{comments}}</p>
    <p>Written By: {{user.name}}</p>
</div>
{{/each}}
{{/if}}